@model UserManagementPBI.Models.Users

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Users</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pwd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pwd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.role)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.client)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.view_user)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.view_user)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.last_failed_utc_datetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.last_failed_utc_datetime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.failed_times)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.failed_times)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateModification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateModification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByAdminId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedByAdminId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
